<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#books" aria-controls="books" role="tab" data-toggle="tab">Books</a>
                        </li>
                        <li role="presentation">
                            <a href="#courses" aria-controls="courses" role="tab" data-toggle="tab">Courses</a>
                        </li>
                        <li role="presentation">
                            <a href="#papers" aria-controls="papers" role="tab" data-toggle="tab">Papers</a>
                        </li>
                        <li role="presentation">
                            <a href="#codes" aria-controls="codes" role="tab" data-toggle="tab">Source codes</a>
                        </li>
                        <li role="presentation">
                            <a href="#podcasts" aria-controls="podcasts" role="tab" data-toggle="tab">Podcasts</a>
                        </li>
                        <li role="presentation">
                            <a href="#movies" aria-controls="movies" role="tab" data-toggle="tab">Movies</a>
                        </li>
                        <li role="presentation">
                            <a href="#games" aria-controls="games" role="tab" data-toggle="tab">Games</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="books">
                            <div class="panel panel-info">
                                <div class="panel-heading">Books I read. Count: {{ books|count }}</div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Cover</th>
                                            <th>Title</th>
                                            <th>Rating</th>
                                            <th>Read Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%- for book in books %}
                                            <tr>
                                                <td><img src="{{ book.cover_url }}" alt="{{ book.title }}" width="50px" /></td>
                                                <td><a href="{{ book.douban_link }}" rel="nofollow" target="_blank">{{ book.title }}</a></td>
                                                <td>{{ book.rate * '👍' }}</td>
                                                <td>{{ book.date }}</td>
                                            </tr>
                                        {%- endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="courses">
                            <div class="panel panel-info">
                                <div class="panel-heading">Courses I took. Count: {{ courses|count }}</div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Platform</th>
                                            <th>Finished Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%- for course in courses %}
                                        <tr>
                                            <td>{{ course.name }}</td>
                                            <td>{{ course.platform }}</td>
                                            <td>{{ course.date }}</td>
                                        </tr>
                                    {%- endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="papers">
                            <div class="panel panel-info">
                                <div class="panel-heading">Papers I read. Count: {{ papers|count }}</div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Author</th>
                                            <th>Journal</th>
                                            <th>Rating</th>
                                            <th>Read Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%- for paper in papers %}
                                        <tr>
                                            <td><a href="{{ paper.link }}" target="_blank">{{ paper.title }}</a></td>
                                            <td>{{ paper.author }}</td>
                                            <td>{{ paper.journal }}</td>
                                            <td>{{ paper.rate * '👍' }}</td>
                                            <td>{{ paper.date }}</td>
                                        </tr>
                                    {%- endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="codes">
                            <div class="panel panel-info">
                                <div class="panel-heading">Source codes I dived into. Count: {{ codes|count }}</div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Language</th>
                                            <th>Rating</th>
                                            <th>Dived Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%- for code in codes %}
                                        <tr>
                                            <td><a href="{{ code.html_url }}" target="_blank">{{ code.name }}</a></td>
                                            <td>{{ code.description }}</td>
                                            <td>{{ code.language }}</td>
                                            <td>{{ code.rate * '👍' }}</td>
                                            <td>{{ code.date }}</td>
                                        </tr>
                                    {%- endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="podcasts">
                            <div class="panel panel-info">
                                <div class="panel-heading">Podcasts I subscribed. Count: {{ podcasts|count }}</div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Cover</th>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Author</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%- for podcast in podcasts %}
                                        <tr>
                                            <td><img src="{{ podcast.thumbnail_url }}" alt="{{ podcast.title }}" width="50px" /></td>
                                            <td><a href="{{ podcast.url }}" target="_blank">{{ podcast.title }}</a></td>
                                            <td>
                                                <details>
                                                    <summary>{{ podcast.description[:20] }}</summary>
                                                    {{ podcast.description }}
                                                </details>
                                            </td>
                                            <td>{{ podcast.author }}</td>
                                        </tr>
                                    {%- endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="movies">
                            <div class="panel panel-info">
                                <div class="panel-heading">Movies I watched. Count: {{ movies|count }}</div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Poster</th>
                                            <th>Title</th>
                                            <th>Rating</th>
                                            <th>Watched Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%- for movie in movies %}
                                            <tr>
                                                <td><img src="{{ movie.poster_url }}" alt="{{ movie.title }}" width="50px" /></td>
                                                <td><a href="{{ movie.douban_link }}" rel="nofollow" target="_blank">{{ movie.title }}</a></td>
                                                <td>{{ movie.rate * '👍' }}</td>
                                                <td>{{ movie.date }}</td>
                                            </tr>
                                        {%- endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="games">
                            <div class="panel panel-info">
                                <div class="panel-heading">Games I played. Count: {{ games|count }}</div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Icon</th>
                                            <th>Name</th>
                                            <th>Rating</th>
                                            <th>Platform</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%- for game in games %}
                                        <tr>
                                            <td>
                                                <img src="{{ game.icon_link or '' }}" style="
                                                    {%- if game.icon_link and 'steamstatic' not in game.icon_link -%}border-radius: 22.5%; {%- endif -%}
                                                    height:50px;
                                                    max-width:100px" alt />
                                            </td>
                                            <td>
                                                {%- if game.en_name is not none -%} 
                                                    {{ game.en_name }}
                                                {%- endif -%}
                                                {%- if game.en_name is not none and game.cn_name is not none -%} 
                                                    {{ ' / ' }}
                                                {%- endif -%}
                                                {%- if game.cn_name is not none -%}
                                                    {{ game.cn_name }}
                                                {%- endif -%}
                                            </td>
                                            <td>{{ game.rate * '👍' }}</td>
                                            <td>
                                                {% if game.itunes is not none -%} 
                                                    <img src="apple.png" alt="apple icon" width="14px" />
                                                    <a href="{{ game.itunes }}" target="_blank">Link</a>
                                                {%- endif %}
                                                {% if game.itunes is not none and game.steam is not none -%} 
                                                    {{ ' / ' }}
                                                {%- endif %}
                                                {% if game.steam is not none -%} 
                                                    <img src="steam.png" alt="steam icon" width="14px" />
                                                    <a href="{{ game.steam }}" target="_blank">Link</a>
                                                {%- endif %}
                                            </td>
                                        </tr>
                                        {%- endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>